@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #C9A84C;
  --bg-dark: #0D0D0D;
  --bg-dark2: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0D0D0D;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}
::-webkit-scrollbar-thumb {
  background: #C9A84C;
  border-radius: 3px;
}
